.tutu-info {
  flex-shrink: 0;
  font-size: 12px;
  width: 200px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 20px;
}
