

.form-block__title-block {
  display: flex;
  align-items: center;
  height: 30px;
}

.form-block__title {
  margin: 0;
  padding: 0;
  display: inline-block;
  color: #666666;
}

.form-block__title {
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  padding-right: 10px;
}

.form-block__line {
  flex-grow: 1;
  size: 1px;
  color: #cacaca;
}

.form-block__form {
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;
}

.form__option {
  position: relative;
  display: inline-block;
  padding-top: 20px;
  height: 75px;
  width: 250px;
}

.input-title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  font-weight: bold;
}

.form__option--place-of-birth,
.input__place-of-birth {
  width: 100%;
}

.input-example {
  position: absolute;
  top: 50px;
  color: #7a7a7a;
  font-size: 12px;
}
