
.body {
  font-family: sans-serif;
  width: 1024px;
}

.holder {
  width: 1024px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.main {
  flex-grow: 1;
  -ms-overflow: hidden;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .form__option--long {
    flex-grow: 1;
    box-sizing: border-box;
    padding-right: 10px;
  }

  .input--text--long {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {

  .holder {
    width: 680px;
  }

  .tutu-info {
    display:none ;
  }

  .form__option,
  .form__choose {
    width: 220px;
  }

  .form__option--choose {
    width: 40px;
  }

  .form__option--place-of-birth {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .holder {
    width: 320px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
  }

  .nav-block {
    height: auto;
  }

  .nav {
    flex-direction: column;
    margin: 5px auto;
  }

  .nav__item {
    margin-bottom: 5px;
  }

  .progress__step {
    height: 20px;
  }

  .progress__number {
    line-height: 20px;
  }

  .form-block__form {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }

  .form__option {
    height: 45px;
  }

  .form__choose {
    height: 55px;
  }

  .form__option--place-of-birth {
    height: 65px;
    width: 90%;
  }
  .input__place-of-birth {
    width: 100%;
  }
}
