body {
  width: 800px;
  margin: 20px auto;
}

.header {
  background: dodgerblue;
  border-bottom: 3px solid #3eadb2;
  height: 100px;
  padding: 20px 0;
}

.logo {
  width: 120px;
  height: 60px;
  background-color: deepskyblue;
  margin: 0 auto;
  border-radius: 0.8em;
}

.logo__button {
  margin: 10px auto;
}

.content {
  margin-top: 20px;
  display: flex;
}

.article {
  justify-content: space-around;
  position: relative;
  width: 280px;
  height: 120px;
  margin: auto;
  background-color: #0073a6;
}

.article__text {
  text-align: center;
}

.article--mod__button {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.article__button {
  margin: auto;
}

.footer {
  height: 100px;
  margin: 20px;
  background-color: #744b60;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap ;
}

.footer__button {
  margin-bottom: 5px;
  justify-content: space-around;
}
